* {
  font-family: 'Mulish', sans-serif;
}

/* Header/banner section */

.header {
  background: url("../canada-images/header-photo.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* linear-gradient(to top, white, transparent 30%), */
}

.header1 {
  color: #F9F9F9;
  text-shadow: 2px 2px black;
  font-size: 13rem;
  font-weight: 100;
  margin: 50px 0;
}

.header2 {
  color: #F9F9F9;
  text-shadow: 1px 1px black;
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  width: 75%
}

/* Blurb section */

#opening-paragraph {
  text-align: center;
  padding: 4rem 0 2rem;
  margin: auto;
  width: 75%;
  background-color: white;
  font-size: 1.25rem;
}

#down-arrow {
  max-width: 15%;
  display: block;
  padding: 2rem 0;
  margin: auto;
}

/* navigation section */

#nav-list {
  height: 100vh;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  justify-content: space-around;
  background-color: white;
  font-size: 1.25rem;
  padding: 2rem;
}

.card-img-top {
  height: 25vh;
}

.nav-cards {
margin: 0;
}

a:link {
  color: black;
}

a:hover {
  color: black;
  text-decoration: underline;
}

a:visited {
  color: black;
}

/* main content section */
.body {
  margin: 0;
}

.main-content{
  margin: 3em;
  padding-bottom: 2em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 1.25rem;
}

.province-title {
  text-align: center;
  font-weight: 500;
}

.province-image {
  height: 40%;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  border-radius: 15px;
}

.national-park-names {
  font-weight: 500;
  text-decoration: underline;
}

#footer {
  margin: 3em;
  text-align: center;
  font-size: 1.25rem;
}

/* media queries */

@media screen and (max-width: 480px) {
  .header {
    background: linear-gradient(to top, white, transparent 30%),
  url("../canada-images/phone-header-photo.jpg");
  background-size: cover;
  }

  .header1 {
    font-size: 5rem;
  }

  .header2 {
    font-size: 1.5rem;
    margin: 0 1rem 1rem;
  }

  .header3 {
    font-size: 1rem;
    margin: 0 1rem;
  }

  #opening-paragraph{
    padding: 0;
    margin: 3rem 1rem;
  }

  .main-content {
    text-align: center;
    margin: 2rem;
  }

  .province-image {
    height: 100%;
    width: 100%;
  }

  .national-park-names {
    margin-top: 3rem;
    display: block;
  }
}