/* Header/banner section */
.header {
  background: linear-gradient(to top, white, transparent 30%),
  url("../canada-images/header-photo.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #F9F9F9;
  text-shadow: 2px 2px black;
  font-size: 11rem;
  font-weight: 100;
  margin: 50px 0;
}

.header2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #F9F9F9;
  text-shadow: 1px 1px black;
  font-size: 2rem;
  font-weight: 500;
  margin: 25px 0;
}

.header3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #F9F9F9;
  text-shadow: 1px 1px black;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0;
}

/* Blurb and nav section */

#opening-paragraph {
  text-align: center;
  margin: 0;
  padding: 100px 150px 50px;
  background-color: white;
  font-family:  Tahoma, Verdana, Geneva, sans-serif;
  letter-spacing: 0.5px;
  font-size: 1.25rem;
}

#down-arrow {
  max-width: 15%;
  display: block;
  margin: 0 auto 2em;
}

#nav-list {
  height: 100vh;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  font-family: Tahoma, Verdana, Geneva, sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0.5px;
  padding: 0;
  margin-bottom: 2em;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

/* main content section */
.body {
  margin: 0;
}

.main-content{
  font-family: Tahoma, Verdana, Geneva, sans-serif;
  letter-spacing: 0.5px;
  margin: 3em;
  padding-bottom: 2em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.province-title {
  text-align: center;
  font-size: 2em;
  font-weight: 500;
}

.province-image {
  height: 40%;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  border-radius: 15px;
}

.national-park-names {
  font-weight: 500;
  font-size: 1em;
  text-decoration: underline;
}

#footer {
  margin: 3em;
  font-family: Tahoma, Verdana, Geneva, sans-serif;
  letter-spacing: 0.5px;
  text-align: center;
}

/* media queries */

@media screen and (max-width: 480px) {
  .header {
    background: linear-gradient(to top, white, transparent 30%),
  url("../canada-images/phone-header-photo.jpg");
  background-size: cover;
  }

  .header1 {
    font-size: 5em;
  }

  .header2 {
    font-size: 1.5em;
    margin: 0 1em 1em;
  }

  .header3 {
    font-size: 1em;
    margin: 0 1em;
  }

  #opening-paragraph{
    padding: 0;
    margin: 3em 1em;
  }

  .main-content {
    text-align: center;
    margin: 2em;
  }

  .province-image {
    height: 100%;
  width: 100%;
  }

  .national-park-names {
    margin-top: 3em;
    display: block;
  }
}