/* Header section */

.header {
  background: linear-gradient(to top, white, transparent 30%),
  url("../images/header-photo.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #F9F9F9;
  text-shadow: 2px 2px black;
  font-size: 11rem;
  font-weight: 100;
  margin: 50px 0;
}

.header2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #F9F9F9;
  text-shadow: 1px 1px black;
  font-size: 2rem;
  font-weight: 500;
  margin: 25px 0;
}

.header3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #F9F9F9;
  text-shadow: 1px 1px black;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0;
}

/* Blurb and nav section */

#opening-paragraph {
  text-align: center;
  margin: 0;
  padding: 100px 150px 50px;
  background-color: white;
  font-family:  Tahoma, Verdana, Geneva, sans-serif;
  letter-spacing: 0.15px;
  font-size: 1.25rem;
}

#down-arrow {
  max-width: 15%;
  display: block;
  margin: auto;
}

#nav-list {
  height:100vh;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  font-family: Tahoma, Verdana, Geneva, sans-serif;
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
}

ul :first-child {
  margin: 100px 0 0;
}

ul :last-child{
  margin: 0 0 50px;
}

a:link {
  color: black;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  background-color: red;
}

/* main content section */

.main-content{
  margin: 0 10px;
  font-family: Tahoma, Verdana, Geneva, sans-serif;
}

.body {
  margin: 0;
}

h4 {
  text-align: center;
}

